{% extends "layout.html" %}
{% block content %}
  <div id="menu">
    <div id="drag-menu">
      <div class="draggable draggable-source txt">
        <div class="draggable-content"><span>txt</span></div>
      </div>
      <div class="draggable draggable-source img">
        <div class="draggable-content"><span>img</span></div>
      </div>
    </div>
    <ul id="desktops">
      {% if desktop_id == 1 %}
        <li class="selected-desktop"><div><span class="rectangle">&nbsp;</span><a href="#" title="Desktop One">Desktop One</a></div></li>
        <li><div><span class="rectangle">&nbsp;</span><a href="/desktop/2" title="Desktop Two">Desktop Two</a></div></li>
      {% else %}
        <li><div><span class="rectangle">&nbsp;</span><a href="/desktop/1" title="Desktop One">Desktop One</a></div></li>
        <li class="selected-desktop"><div><span class="rectangle">&nbsp;</span><a href="#" title="Desktop Two">Desktop Two</a></div></li>
      {% endif %}
    </ul>
  </div>
  <div id="canvas">
    {% for note in notes %}
      {% if note.type == 'txt' %}
        <div class="draggable draggable-canvas txt" data-id="{{ note.id }}" style="left: {{ note.left }}px; top: {{ note.top }}px; position: absolute;">
          <div class="draggable-content"><span>{{ note.text }}</span></div>
        </div>
      {% elif note.type == 'img' and note.text.startswith("http") %}
        <div class="draggable draggable-canvas img  img-added" data-id="{{ note.id }}" style="background-image: url('{{ note.text }}'); left: {{ note.left }}px; top: {{ note.top }}px; position: absolute;">
          <div class="draggable-content"><span>{{ note.text }}</span></div>
        </div>
      {% else %}
        <div class="draggable draggable-canvas img" data-id="{{ note.id }}" style="left: {{ note.left }}px; top: {{ note.top }}px; position: absolute;">
          <div class="draggable-content"><span>{{ note.text }}</span></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
